::root {
    /* warna kategorial  */
    --primary: #141414;
    --secondary: #171717;

    /* warna content  */
    --putih: #ffffff;
    --abu-border: #1e1e1e;
    --biru: #146EF5;

    /* warna teks  */
    --primary-text: #ffffff;
    --secondary-text: #141414;
}

body {
    background-color: var(--primary);
}
